body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
body #topo{
    display: flex;
    justify-content: space-around;
  margin: auto;
    
}
#topo{
border: 0px solid red;
height: 350px;
display: flex;
justify-content: center;
width: 990px;
flex-wrap: wrap;

}
#imagemlogo{
    border: 0px solid red;
    background: url(../Imagens/imagem-logo.png) no-repeat;
    float: left;
    margin-right: 150px ;
    margin-top: 20px;
}
#logo{
    border: 0px solid red;
    background: url(../Imagens/Logo.png) no-repeat;
    height: 210px;
    float: right;
    margin-top: 30px;
}
#navegaçao{
    font-size: 38px;
    float: right;
    display: flex;
    position: relative;
    bottom: 90px;
    left: 150px;
   
}
#navegaçao ul{
display: inline-block;
text-decoration: none;

}
#navegaçao li{
list-style: none;
display: inline-block;
padding: 5px;
}
#navegaçao a{
   text-decoration: none; 
   color: black;
   text-shadow: 0.8px 0.8px red;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navegaçao a:hover{
    color: red;
    text-shadow: 0.8px 0.8px black;
}
#conteudo{
   background: url(../Imagens/background-body.jpg) rgba(255, 0, 0, 0.192); 
   width: 100%;
   height: 1000px;
   clear: both;
}