body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
body #topo, #saudavel{
    display: flex;
    justify-content: space-around;
  margin: auto;
    
}
#topo{
border: 0px solid red;
height: 350px;
display: flex;
justify-content: center;
width: 990px;
flex-wrap: wrap;

}
#imagemlogo{
    border: 0px solid red;
    background: url(../Imagens/imagem-logo.png) no-repeat;
    float: left;
    margin-right: 150px ;
    margin-top: 20px;
}
#logo{
    border: 0px solid red;
    background: url(../Imagens/Logo.png) no-repeat;
    height: 210px;
    float: right;
    margin-top: 30px;
}
#navegaçao{
    font-size: 38px;
    float: right;
    display: flex;
    position: relative;
    bottom: 90px;
    left: 150px;
   
}
#navegaçao ul{
display: inline-block;
text-decoration: none;

}
#navegaçao li{
list-style: none;
display: inline-block;
padding: 5px;
}
#navegaçao a{
   text-decoration: none; 
   color: black;
   text-shadow: 0.8px 0.8px 3px red;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navegaçao a:hover{
    color: red;
    text-shadow: 0.8px 0.8px 3px black;
}
#conteudo{
   background: url(../Imagens/background-body2.jpg) repeat;
   width: 100%;
  
   clear: both;
   display: flex;
   justify-content: center;
}
#soleira{
    position: relative;
    bottom: 110px;
}
#conteudo-principal{
 width: 990px;   
 border: 0px solid red;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 height: 1000px;
 
}
#saudavel h2{
    background: rgba(40,40,40,255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin-top: 35px;
    width: 990px;
    border: solid 0px red;
}
.paodequeijo{
width: 450px;
border: solid 0px rgb(68, 0, 255);
margin-right: 15px;
text-align: center;
background-color: white;
border-radius: 20px;
height: 500px;
box-shadow: 10px 10px 30px;

}
.Brownie{
width: 450px;
border: solid 0px rgb(0, 255, 42);
margin-left: 15px;
border-radius: 20px;
height: 500px;
box-shadow: 10px 10px 30px;
background-color: white;
}
img .titulo1{
    border-radius: 5px;
}
.paodequeijo h3{
    background-color: rgba(40,40,40,255);
    color: white;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.paodequeijo p{
    background-color: rgba(40,40,40,255);
    color: white;
    padding: 10px;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    
}
.paodequeijo a{
    text-decoration: none;
    color: red;
    font-size: 18px;
    
}
.paodequeijo a:hover{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.Brownie h3{
    background-color: rgba(40,40,40,255);
    color: white;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.Brownie p{
    background-color: rgba(40,40,40,255);
    color: white;
    padding: 10px;
    margin: 13px 10px 0px 10px;
    border-radius: 10px;
}
.Brownie a{
    text-decoration: none;
    color: red;
    font-size: 18px;
    
}
.Brownie a:hover{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.marmitas-fits{
    width: 400px;
    border: solid 0px rgb(0, 255, 42);
    margin-left: 20px;
    border-radius: 20px;
    height: 550px;
    box-shadow: 10px 10px 30px;
    background-color: white;
    margin-bottom: 20px;
}
.marmitas-fits h3{
    background-color: rgba(40,40,40,255);
    color: white;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.marmitas-fits p{
    background-color: rgba(40,40,40,255);
    color: white;
    padding: 10px;
    margin: 13px 10px 0px 10px;
    border-radius: 10px;
}
.marmitas-fits a{
    text-decoration: none;
    color: red;
    font-size: 18px;
    
}
.marmitas-fits a:hover{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
input .number{
    width: 25px;
}
#number{
    width: 40px;
}
#button{
    background-color: red ;
}
#button:hover{
    background-color: rgb(0, 0, 0) ;
    color: white;
}